
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>
<h3>Test Sayfasıdır</h3>
<table>
    <tr>
        <th>
            Id
        </th>
        <th>
            Ad
        </th>
        <th>
            Departman
        </th>
    </tr>
    <tr>
        <td>
            1
        </td>
        <td>
            Alp
        </td>
        <td>
            CS
        </td>
    </tr>
    <tr>
        <td>
            2
        </td>
        <td>
            Burak
        </td>
        <td>
            EE
        </td>
    </tr>
</table>